.App-header{
    padding-left: 30%;
}

.Form-style {
    width: 60%;
    margin-top: 5%;
    border: 2px solid rgb(14, 13, 13);
    padding: 10px;
}
.Form-body {
    width: 100%;
    padding: 20px 10%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
.Form-lable {
    width: 30%;
    margin-right: 20px;
    font-size: 20px;
}
.Form-input {
    width: 70%;
    margin-right: 20px;
    font-size: 18px;
    height: 40px;
}
.Form-p {
    font-size: 25px;
    margin: 10%;
}
.Form-buttonInput {
    margin-top: 20px;
    padding-left: 58%;
    margin-bottom: 10px;
}
.Form-button {
    font-size: 18px;
    margin-left: 10px;
    color: white;
    background-color: blue;
    border-radius: 5px;
    padding: 10px;
}
.primaryBtn {
    margin: 20px 10px;
    cursor: pointer;
    font-weight: 500;
    padding: 13px 25px;
    border-radius: 15px;
    font-size: 0.8rem;
    border: none;
    color: white;
    background: #185adb;
    transition: all 0.25s ease;
  }
  
  .primaryBtn:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px -10px rgba(24, 90, 219, 0.6);
  }